<div class="post flex-col border-4 border-c2 my-6 mx-16">
    <div class="flex justify-between items-center py-3 px-5 bg-c2 text-white">
        <p class="text-3xl font-bold">{{post.title}}</p>
        <p>Posted by {{post.user.name}} on {{format_date post.date_created}}</p>
    </div>
    <div class="bg-white">
        <p class="text-xl text-c4 p-5">
            {{post.content}}
        </p>
    </div>
</div>
<dialog id="comment-form" class="w-full bg-transparent backdrop:bg-gray-800/85">
    <div class="flex-col border-4 border-c2 my-6 mx-16">
        <div class="flex justify-between items-center py-3 px-5 bg-c2 text-white text-3xl font-bold">
            <p>Add Comment</p>
            <button id="close-button">X</button>
        </div>
        <div class="py-3 px-5 bg-white">
            <form class="flex-col text-2xl">
                <div class="my-4 text-c4">
                    <label>Comment</label>
                    <textarea id="content" class="border-2 w-full p-2 text-lg"></textarea>
                </div>
                <div class="hidden">
                    <input id="post_id" type="text" value="{{post.id}}"/>
                </div>
                <div class="my-4">
                    <button type="submit" class="bg-c3 p-2 rounded text-white font-bold w-full">Submit</button>
                </div>
            </form>
        </div>
    </div>
</dialog>
{{#each comments as |comment| }}
<div class="comment flex-col border-4 border-c2 my-6 mx-16 text-xl p-5 bg-white">
    <p class="my-4 text-c4">
        {{comment.content}}
    </p>
    <p class="my-4 text-c4">
        -{{comment.user.name}}, {{format_date comment.date_created}}
    </p>
</div>
{{/each}}
<div class="flex justify-center items-center">
    <button id="comment-button" class="text-3xl bg-c2 text-white font-bold py-4 px-8 border-2 rounded-lg">
        + Add Comment
    </button>
</div>

<script src="/js/createComment.js"></script>